@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<h4>GPS Tutorial</h4>

<div style="margin-bottom:25px">
    This video series was assembled by Jim Wallance (Mono SAR Rescue Member). For questions, please <a href="mailto:jimwallac@gmail.com">email Jim directly</a>.
</div>


<h5>GPS Overview</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/UJdXwULBxIc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<h5>Gaia Map Layers &amp; Downloads</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/qSE0lmAZc_I?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<h5>Navigate using "Guide Me"</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/cg8abirwIHw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<h5>Gaia GPS Settings</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/XBuBJPplEIM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<h5>Gaia GPS Status Bar</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/iyXimV1ZNK8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<h5>Valentine Lake Route Setup</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/isH4IOZRAD8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<h5>Navigate to Victim using Gaia</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Y-7KvwZWY3M?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
