@model MonoSAR.Models.Training.TrainingClassInsertConfirmation

@{
    ViewData["Title"] = "Training Added";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Training Added!</h2>

<div>
    <hr />

            @Html.DisplayFor(model => model.Message)
</div>
<div>
    <br/>
    <a href="/TrainingOfficer/RecordTrainingOccurrence/">Add More Training</a>, or <a href="/TrainingOfficer/Index">View Recent Entries</a>.
</div>
