@model IEnumerable<MonoSAR.Models.Membership.MemberSummaryItem>

@{
    ViewData["Title"] = "MemberReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Membership - Candidate Report (Current Year)</h2>


@Html.Partial("MemberSummaryList", Model)
