@Model Int32
@{
    ViewData["Title"] = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Got it, Member created!</h2>

Maybe <a href="/MembershipOfficer/ViewMember/@Model">check on that new user you just added</a> or <a href="/MembershipOfficer/CreateMember">add another member</a>?

