@model MonoSAR.Models.HomeScreen
@{
    ViewData["Title"] = "Home Page";
}

<div id="logo" style="width:100%; text-align:center;">
    <img src="@Model.LogoPath" alt="" width="400" title="" />
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Training</h2>
        <ul>
            <li><a href="/TrainingOfficer/">Record a Training Class</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Members</h2>
        <ul>
            <li>.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Operations</h2>
        <ul>
            <li>.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Reports</h2>
        <ul>
            <li>.</li>
        </ul>
    </div>
</div>
