@model MonoSAR.Models.HomeScreen
@{
    ViewData["Title"] = "Home Page";
}

<div id="logo" style="width:100%; text-align:center;">
    <img src="@Model.LogoPath" alt="" width="250" title="" />
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Training</h2>
        <ul>
            <li><a href="/TrainingOfficer">Recent Training List</a></li>
            <li><a href="/TrainingOfficer/RecordTrainingOccurrence">Record a Training Class</a></li>
            <li><a href="/TrainingOfficer/RecordMedical">Record Medical Certifications</a></li>
            <li><a href="/TrainingOfficer/RecordCPR">Record CPR Certifications</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Members</h2>
        <ul>
            <li><a href="/MembershipOfficer/MemberReport">View All Members</a></li>
            <li><a href="/MembershipOfficer/CandidateReportCurrentYear">View Candidates (Current Year)</a></li>
            <li><a href="/MembershipOfficer/CandidateReport">View Candidates</a></li>
            <li><a href="/MembershipOfficer/RescueReport">View Full Rescue</a></li>
            <li><a href="/MembershipOfficer/ExpiredMedicalReport">View Expired Medical Members</a></li>
            <li><a href="/MembershipOfficer/ExpiredCPRReport">View Expired CPR Members</a></li>
            <li><a href="/MembershipOfficer/CreateMember">Add New Member</a></li>
            <li><a href="/MembershipOfficer/SummerReadyReport">View Summer Qualified</a></li>
            <li><a href="/MembershipOfficer/WinterReadyReport">View Winter Qualified</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Operations</h2>
        <ul>
            <li>.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>My Info</h2>
        <ul>
            <li><a href="/myinfo/">My Info</a></li>
        </ul>
    </div>
</div>
