@model MonoSAR.Models.HomeScreen
@{
    ViewData["Title"] = "Home Page";
}

<div id="logo" style="width:100%; text-align:center;">
    <img src="@Model.LogoPath" alt="" width="250" title="" />
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Training</h2>
        <ul>
            <li><a href="/TrainingOfficer/Index">Recent Training List</a></li>
            <li><a href="/TrainingOfficer/RecordTrainingOccurrence">Record a Training Class</a></li>
            <li><a href="/TrainingOfficer/RecordMedical">Record Medical Certifications</a></li>
            <li><a href="/TrainingOfficer/RecordCPR">Record CPR Certifications</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Members</h2>
        <ul>
            <li><a href="/MembershipOfficer/MemberReport">Members</a></li>
            <li><a href="/MembershipOfficer/CandidateReportCurrentYear">Candidates (@Model.CurrentYearPretty)</a></li>
        <li><a href="/MembershipOfficer/CandidateReport">Candidates (All)</a></li>
        <li><a href="/MembershipOfficer/RescueReport">Rescue Members</a></li>
        <li><a href="/MembershipOfficer/ExpiredMedicalReport">Expired Medical Members</a></li>
        <li><a href="/MembershipOfficer/ExpiredCPRReport">Expired CPR Members</a></li>
        <li><a href="/MembershipOfficer/SummerReadyReport">Summer Qualified</a></li>
        <li><a href="/MembershipOfficer/WinterReadyReport">Winter Qualified</a></li>
        <li><a href="/MembershipOfficer/CreateMember">Add New Member</a></li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Operations</h2>
           <form asp-controller="Callout" method="post" asp-action="Start" onsubmit="return confirm('Really start callout?')">
               <ul>
                   <li>.</li>
                   @if (User.IsInRole("Admin"))
                   {    
                        <li><button type="submit" class="alert-warning">Start Callout</button> </li>
                   }
               </ul>
            </form>
    </div>
    <div class="col-md-3">
        <h2>My Info</h2>
        <ul>
            <li><a href="/myinfo/">My Info</a></li>
        </ul>
    </div>
</div>
