@model MonoSAR.Models.Membership.MemberSummaryItem

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Information</h2>
@Html.Partial("MyInfoExpirations", Model)
@Html.Partial("MemberView", Model)

