@model MonoSAR.Models.Membership.MemberSummaryItem

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Information</h2>

<a href="/MyInfo/Edit/@Model.ID">Edit</a>

@Html.Partial("MyInfoExpirations", Model)
@Html.Partial("MemberView", Model)

