@model Int32

@{
    ViewData["Title"] = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Operation created</h2>

<a href="/OperationsOfficer/ViewOperation/@Model">View operation</a> or <a href="/OperationsOfficer/CreateOperation">create another operation</a>

