@{
    ViewData["Title"] = "Start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Callout Initiated</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        Callout initiated, you should recieve a message as well. Good luck.
    </div>
</div>

